@font-face {
    font-family: 'DINPro';
    src: url('../fonts/dinpro-regular.otf');
    font-weight: 400;    
    font-style: normal;
 }
@font-face {
    font-family: 'DINPro';
    src: url('../fonts/dinpro-bold.otf');
    font-weight: 600;    
    font-style: normal;
 }
 @font-face {
    font-family: 'DINPro';
    src: url('../fonts/dinpro-medium.otf');
    font-weight: 500;    
    font-style: normal;
 }
 @font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/segoeui.ttf');
    font-weight: 400;    
    font-style: normal;
 }
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/seguisb.ttf');
    font-weight: 500;    
    font-style: normal;
 }
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/segoeuib.ttf');
    font-weight: 600;    
    font-style: normal;
 }
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*Общее*/
a {
	color: #fff;
	text-decoration: none;
}
body {
	color: #fff;
	background: #141414;
	background-image: url("../images/back.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	backdrop-filter: brightness(50%) blur(8px);
	width: 100%;
	font-family: "DINPro","Segoe UI","Mina", sans-serif;
	font-weight: 400;
	display: grid;
	grid-template-rows: 80px 1fr 80px;
	font-size: 18px;
}
.body_stats{
	background-size: contain;
}
.body_search{
	height: 100vh;
}
header{
	background: rgba(24,24,24,0.9);
	box-shadow:0 0 5px rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}
.header_content{
	width: 100%;
	height: 100%;
	max-width: 1200px;
	display: flex;
	align-items: center;
	position: relative;
}
.search_block{
	margin-left: auto;
	margin-right: 0;
}
.search_block_close{
	display: none;
	cursor: pointer;
	margin-left: auto;
	margin-right: 20px;
}
.search_block_close>img{
	width: 24px;
	vertical-align: middle;
}

.search{
	height: 40px;
	align-items: center;
	border-radius: 5px;
	display: flex;
	background-color: #282828;
}
.search>input{
	color: #fff;
	font-family: "DINPro","Segoe UI","Mina", sans-serif;
	background-color: #282828;
	border: 0;
   	outline: none;
    margin: 0 10px;
    font-size: 18px;
    width: 400px;
    line-height: 24px;
}
.search_btn{
	height: 24px;
	width: 24px;
	padding-right: 0;
	padding-left: 0; 
    margin: 2px 10px 0 auto;
    box-sizing: content-box;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    border: 0;
    background-color: inherit;
    border:none;
    outline: none;

}
.search_btn:active{
			outline: none;
}
.search_btn>img{
	width:24px;
}
.search_button_mobile{
	display: none;
	cursor: pointer;
	position: absolute;
	right: 20px;
}
.search_button_mobile>img{
	width: 24px;
	vertical-align: middle;
}
main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.logo>img{
	width: 50px;
}
.title{
	margin-bottom: 40px;
	font-size: 36px;
	text-shadow:0 0 5px rgba(0,0,0,0.5);
}
.search_main{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.search_main_field{
	width: 800px;
	height: 60px;
	border-radius: 5px 0 0 5px;
	background: rgba(24,24,24,0.9);
	outline: none;
	border:none;
	font-size: 24px;
	color: #ffffff;
	padding: 0 20px;

}
.input_form{
	display: flex;
	align-items: center;
	box-shadow:0 0 5px rgba(0,0,0,0.5);
	border-radius: 5px;
}
.submit{
	width: 200px;
	height: 60px;
	border-radius: 0 5px 5px 0;
	box-sizing:border-box;
	background: #FF5500;
	font-size: 24px;
	line-height: 28px;
	color: #fff;
    border: none;
    outline: none;
    line-height:60px; 
    border-collapse: collapse;
}
button:hover {
    cursor: pointer;
}
footer{
	display: flex;
	justify-content: center;
}
.footer_container{
	width: 100%;
	max-width: 1000px;
	height: 100%;	
}
.footer_stats{
	background-color: #181818;
}
.footer_stats>.footer_container{
	max-width: 1200px;
}
.socials{
	height: 100%;
	display: flex;
	align-items: center;
}
.socials>a{
	margin-right: 30px;
}
.main_stats{
	justify-content: flex-start;
}
.basic_stats,.elo_graphics,.match_stats{
	width: 100%;
	display: flex;
	justify-content: center;
}
.main_content{
	width: 100%;
	max-width: 1200px;
	margin: 40px 0;
}
.basic_stats_content{
	display: flex;
}
.ava{
	width: 200px;
	border-radius: 1000px;
	margin-right: 30px;
}

.player_info{
	flex:1;
	display: flex;
	flex-direction: column;
}
.player_info>div{
	width: 100%;
}
.info_top{
	display: flex;
	align-items: center;
}
.info_bottom{
	display: flex;
	flex:1;
	align-items: center;
}
.nick{
	font-size: 36px;
	margin: 0;
}
.player_links{
	margin-left:auto; 
}
.player_links>a:first-child{
	margin-right: 30px;
}
.player_links img{
	height: 30px;
}
.info_title{
	font-size: 28px;
}
.stats_block{
	display: flex;
}

.last20_stats{
	margin-left: 30px;
}
.stats_line{
	width: 1px;
	height: 60px;
	background-color: #fff;
}
.stats_block{
	margin-top: 15px;
}
.stats_label{
	font-weight: 500;
}
.stats_section{
	margin-right: 30px;
}
.elo_graphics{
	background-color: #181818;
	box-shadow:0 0 5px rgba(0,0,0,0.5);
}
.match_stats{
	background-color: #1F1F1F;
}
.elo_graphics_title, .match_stats_title{
	margin-bottom: 20px;
}
.elo_graphics_title>h2 .match_stats_title>h2{
	font-size: 30px;
}
.elo_graphics_block{
	display: grid;
	grid-template-columns: 1.25fr 2fr;
	gap:50px;
}
.elo_chart_block{
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	display: flex;
	justify-content: center;
}
.elo_info{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
}
.lvl{
	font-weight: 600;
	font-size: 68px;
	margin: 15px 0;
}
.elo{
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}
.thread_block{
	background-color: #141414;
	padding: 10px 2px;
	margin-bottom: 10px;
}
.thread,.match_container{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr 1.5fr 1fr 2fr 1fr 1fr 2fr 1fr;
}
.thread>div{
	text-align: center;
	font-weight: 500;
}
.match{
	width: 100%;
	background-color: #141414;
	position: relative;
	box-sizing: border-box;
}
.match_container:hover{
	background-color: #282828;
}
.match_win{
	border-left: 2px solid #06FF01;
	border-right: 2px solid #06FF01;
}
.match_lose{
	border-left: 2px solid #FF0101;
	border-right: 2px solid #FF0101;
}
.match_container{
	box-sizing: border-box;
	height: 80px;
	align-items: center;
	cursor: pointer;
	transition: background-color .2s;
}
.match_container>div{
	display: flex;
	flex-direction: column;
	align-items: center;

}
.map_img{
	position: absolute;
	height: 80px;
	right: 2px;
	top:0;
	pointer-events: none;
}
.positive{
	color: #06FF01;
}
.negative{
	color: #FF0101;
}
.scoreboard{
	width: 100%;
	padding: 20px;
	background-color: #141414;
	display: none;
}
.scoreboard_show{
	display: block;
}
.table{
	width: 100%;
	font-size: 14px;
}
.table td,.table th{
	text-align: center;
	padding: 5px;
}
.scoreboard_title{
	display: flex;
}
.scoreboard_team_title{
	font-weight: 500;
	font-size: 18px;
}
.scoreboard_team_result{
	font-weight: 500;
	font-size: 18px;
	margin-left: auto;
}
.scoreboard_team_result_win{
	color: #06FF01;
}
.scoreboard_team_result_lose{
	color: #FF0101;
}
.scoreboard table:first-child{
	margin-bottom: 20px;
}
.table td>a{
	transition: color .2s;
}
.table td>a:hover{
	color: #FF5500;
}
.match_stat_row th:nth-child(2),.team_player_info td:nth-child(2){
	text-align: left;
}
@media screen and (max-width: 450px) {
	.body_stats{
		background-size:cover;
	}
    .basic_stats_content{
    	flex-direction: column;
    	align-items: center;
    }
    .info_bottom{
    	flex-direction: column;
    }
    .ava{
    	margin: 0;
    	margin-bottom: 30px;
    }
    .player_info{
    	padding: 0 20px;
    }
    .info_top{
    	margin-bottom: 30px;
    }
    .stats_line{
    	width: 100px;
    	height: 1px;
    	margin: 20px 0;
    }
    .lifetime_stats_block .stats_section:last-child{
    	margin: 0;
    }
    .last20_stats_block .stats_section:last-child{
    	margin: 0;
    }
    .last20_stats{
    	margin:0;
    }
    .lifetime_stats,.last20_stats{
    	width: 100%;
    }
    .elo_graphics{
    	padding: 0 20px
    }
    .elo_graphics_content{
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    }
    .elo_graphics_block{
    	width: 100%;
    	grid-template-columns: 1fr;
    	grid-auto-rows: 200px;
    }
    .elo_graphics_block>div{
    	display: flex;
    	justify-content: center;
    	align-items: center;
    }
    .elo_graphics_title>h2{
    	font-size: 24px;
    }
    .elo{
    	margin-bottom: 20px;
    }
    .lvl{
    	margin-top: 80px;
    	margin-bottom: 0;
    }
    .match_stats{
    	justify-content: flex-start;
    }
    .match_stats_content{
    	padding: 0 20px;
    	max-width: 100vw;
    }
    .container{
    	width: 100%;
    	overflow-x: auto;
    }
    .thread_block,.match_stats_block{
    	min-width: 1200px;
    }
    .match_stats_title>h2{
    	text-align: center;
    }
    .search_block{
		display: none;
	}
	.header_content{
		justify-content: center;
	}
    .vis{
		align-items: center;
		display: flex;
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		justify-content: flex-end;
		left: 0;
		z-index: 999;
	}
	.search_button_mobile{
		display: block;
	}
	.search{
		margin-left: 20px;
	}
	.search>input{
		width: 250px;
	}
	.disable{
		display: none;
	}
	
}




